src/main/mule/hellomule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b7f0c0ce-90af-44b9-8c17-350ad2ead8a1" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="hellomuleFlow" doc:id="0e6bd7c4-cb00-4559-b62a-9d189d29d8ec" >
		<http:listener doc:name="Listener" doc:id="648254a5-f5f6-4433-add7-044943fb8811" config-ref="HTTP_Listener_config" path="hello"/>
		<set-payload value='#["Welcome to mule sai"]' doc:name="Set Payload" doc:id="3c48543d-e896-4ba1-91fb-4c06db8b22b4" />
	</flow>
</mule>
